---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import DefaultLayout from '@/layouts/DefaultLayout.astro';

const caseStudies = await getCollection('caseStudies');
const portfolio = await getCollection('portfolio');
---

<DefaultLayout title="Portfolio | Melodi">
  <section class="bg-circles py-5">
    <div class="container">
      <h2 class="fw-semibold text-center display-5 text-shadow-custom mb-5">
        Case Studies
      </h2>

      <div class="row gx-lg-5 gy-3 my-4 my-sm-5">
        {
          caseStudies.map(({ id, data: { title, excerpt, image } }) => (
            <div class="col-12 col-md" data-aos="fade-up">
              <div class="ratio ratio-16x9 mb-3">
                <a href={`/case-studies/${id}`}>
                  <Image
                    class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom"
                    src={image}
                    alt={title}
                  />
                </a>
              </div>
              <h3 class="fs-1 lh-1 mb-3">
                <a class="text-decoration-none" href={`/case-studies/${id}`}>
                  {title}
                </a>
              </h3>
              <p>{excerpt}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="bg-circles pb-5">
    <div class="container">
      <h2 class="fw-semibold text-center display-5 text-shadow-custom mb-5">
        Other Projects
      </h2>

      {
        portfolio.map(
          ({
            data: { title, category, description, codeUrl, appUrl, image },
          }) => (
            <div class="row gx-lg-5 gy-3 my-4 my-sm-5" data-aos="fade-up">
              <div class="col-md-6 col-12">
                <div class="lightbox-gallery ratio ratio-16x9">
                  <a
                    class="lightbox-image"
                    href={image.src}
                    data-pswp-width={image.width}
                    data-pswp-height={image.height}
                    target="_blank"
                  >
                    <Image
                      class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom"
                      src={image}
                      alt=""
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-5 col-12">
                <h3 class="fs-1 lh-1 mb-2">{title}</h3>
                <div class="badge fw-normal border mb-4">{category}</div>
                <p>{description}</p>
                {(codeUrl || appUrl) && (
                  <div class="d-flex gap-2 mt-4">
                    {codeUrl && (
                      <a class="btn btn-primary" href={codeUrl}>
                        View Code
                      </a>
                    )}
                    {appUrl && (
                      <a class="btn btn-primary" href={appUrl}>
                        Live App
                      </a>
                    )}
                  </div>
                )}
              </div>
            </div>
          ),
        )
      }
    </div>
  </section>
</DefaultLayout>
