<div>
  <div class="circles">
    <a class="circle circle-top" href="/about" aria-label="About"></a>
    <a class="circle circle-left" href="/portfolio" aria-label="Portfolio"></a>
    <a class="circle circle-right" href="/blog" aria-label="Blog"></a>
  </div>

  <div class="position-relative">
    <slot />
  </div>
</div>

<script>
  import { animate } from 'animejs';

  const r = 16;
  const x = (r * Math.sqrt(3)) / 2;
  const y = r / 2;

  animate('.circle', {
    opacity: [{ from: 0, to: 1, duration: 1000 }],
  });

  animate('.circle-top', {
    top: [{ to: `-${r}rem`, duration: 1000 }],
    '--angle': [
      { to: '60deg', delay: 2000, duration: 1000 },
      { to: '0deg', ease: 'outElastic', duration: 150 },
      { to: '60deg', duration: 150 },
    ],
  });

  animate('.circle-left', {
    left: [{ to: `-${x}rem`, duration: 1000 }],
    top: [{ to: `${y}rem`, duration: 1000 }],
    '--angle': [
      { to: '60deg', delay: 2000, duration: 1000 },
      { to: '0deg', ease: 'outElastic', delay: 450, duration: 150 },
      { to: '60deg', duration: 150 },
    ],
  });

  animate('.circle-right', {
    left: [{ to: `${x}rem`, duration: 1000 }],
    top: [{ to: `${y}rem`, duration: 1000 }],
    '--angle': [
      { to: '60deg', delay: 2000, duration: 1000 },
      { to: '0deg', ease: 'outElastic', delay: 750, duration: 150 },
      { to: '60deg', duration: 150 },
    ],
  });
</script>

<style>
  @property --bg {
    syntax: '<color>';
    inherits: false;
    initial-value: black;
  }

  .circles {
    --angle: 0deg;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .circle {
    --bg: var(--bs-dark);
    --p1: calc(30deg - var(--angle) / 2);
    --p2: calc(30deg + var(--angle) / 2);
    --size: 10vw;

    background: conic-gradient(
      var(--bg) var(--p1),
      transparent var(--p1) var(--p2),
      var(--bg) var(--p2)
    );

    border-radius: 50%;
    position: absolute;
    width: var(--size);
    height: var(--size);
    translate: -50% -50%;
    transition: --bg 0.15s ease-in-out;

    &:hover {
      --bg: var(--primary);
    }
  }

  .circle-top {
    rotate: 150deg;
  }

  .circle-left {
    rotate: 30deg;
  }

  .circle-right {
    rotate: 270deg;
  }
</style>
