---
import { Image } from 'astro:assets';

import gameOn from '@/assets/images/game-on.jpg';
import tirtil from '@/assets/images/tirtil.png';
import fishMemory from '@/assets/images/fish-memory.png';
import researchProject from '@/assets/images/research-project.png';
import clay from '@/assets/images/clay.jpg';
import drawing from '@/assets/images/drawing.jpg';
import painting from '@/assets/images/painting.jpg';
import crochet from '@/assets/images/crochet.jpg';
---

<main class="bg-circles">
	<div class="container">
		<section class="pt-4 pt-md-5 pb-4 pb-md-5">
			<h2 class="fw-semibold text-center display-5 text-shadow-custom mb-5">Portfolio</h2>

			<!-- Game On -->
			<div class="row gx-lg-5 gy-3" data-aos="fade-up">
				<div class="col-md-6 col-12">
					<div class="lightbox-gallery ratio ratio-16x9">
						<a class="lightbox-image" href="assets/images/game-on.jpg" data-pswp-width="1507" data-pswp-height="1920" target="_blank">
							<Image src={gameOn} alt="game-on" class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom">
						</a>
					</div>
				</div>
				<div class="col-md-5 col-12">
					<h3 class="fs-1 lh-1 mb-2">Game On</h3>
					<div class="badge fw-normal border mb-4">UI/UX Design</div>
					<p>
						The design features a landing page for an e-commerce mobile website that enables customers to purchase gaming equipment. A paper wireframe was drawn, low-fidelity and high-fidelity wireframes were crafted using Figma.
					</p>
				</div>
			</div>

			<!-- T覺rt覺l -->
			<div class="row gx-lg-5 gy-3 my-4 my-sm-5" data-aos="fade-up">
				<div class="col-md-6 col-12">
					<div class="lightbox-gallery ratio ratio-16x9">
						<a class="lightbox-image" href="assets/images/tirtil.png" data-pswp-width="1627" data-pswp-height="905" target="_blank">
							<Image src={tirtil} alt="tirtil" class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom">
						</a>
					</div>
				</div>
				<div class="col-md-5 col-12">
					<h3 class="fs-1 lh-1 mb-2">T覺rt覺l</h3>
					<div class="badge fw-normal border mb-4">Web Development</div>
					<p>
						A Wordle clone developed with React. Players try to figure out the hidden word within a limited number of attempts. With each guess, the game provides feedback on the correctness of individual letters.
					</p>
					<div class="d-flex gap-2 mt-4">
						<a class="btn btn-primary" href="https://github.com/melodidev/tirtil">View Code</a>
						<a class="btn btn-primary" href="https://melodi.dev/tirtil/">Live App</a>
					</div>
				</div>
			</div>

			<!-- Fish Memory Game -->
			<div class="row gx-lg-5 gy-3 my-4 my-sm-5" data-aos="fade-up">
				<div class="col-md-6 col-12">
					<div class="lightbox-gallery ratio ratio-16x9">
						<a class="lightbox-image" href="assets/images/fish-memory.png" data-pswp-width="1500" data-pswp-height="900" target="_blank">
							<Image src={fishMemory} alt="fish-memory" class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom">
						</a>
					</div>
				</div>
				<div class="col-md-5 col-12">
					<h3 class="fs-1 lh-1 mb-2">Fish Memory Game</h3>
					<div class="badge fw-normal border mb-4">Web Development</div>
					<p>
						A memory card game developed using React and Vite. Players attempt to click on each image once; after every attempt, the cards shuffle. The goal is to achieve the highest possible score.
					</p>
					<div class="d-flex gap-2 mt-4">
						<a class="btn btn-primary" href="https://github.com/melodidev/fish-memory">View Code</a>
						<a class="btn btn-primary" href="https://melodi.dev/fish-memory/">Live App</a>
					</div>
				</div>
			</div>

			<!-- The Effect of Odor on False Memory -->
			<div class="row gx-lg-5 gy-3 my-4 my-sm-5" data-aos="fade-up">
				<div class="col-md-6 col-12">
					<div class="lightbox-gallery ratio ratio-16x9">
						<a class="lightbox-image" href="assets/images/research-project.png" data-pswp-width="746" data-pswp-height="420" target="_blank">
							<Image src={researchProject} alt="fish-memory" class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom">
						</a>
					</div>
				</div>
				<div class="col-md-5 col-12">
					<h3 class="fs-1 lh-1 mb-2">The Effect of Odor on False Memory</h3>
					<div class="badge fw-normal border mb-4">Research Project</div>
					<p>
						The aim of the study was to examine whether odor leads to false memory. Forty university students from EMU were split into control and experimental groups. The experimental group was exposed to scent of coffee while watching videos, while other the group was not exposed. A questionnare about the videos was administered, asking participants whether a cup of coffee was shown in the videos. Results indicated that odor had no significant effect on false memory.
					</p>
				</div>
			</div>
		</section>

		<!-- Hobbies -->
		<section class="pb-5">
			<h2 class="fw-semibold text-center display-5 text-shadow-custom mb-4">Hobbies</h2>

			<div class="row justify-content-center mb-3 mb-md-5">
				<div class="col-12 col-lg-8">
					<p class="text-md-center">
						I enjoy expressing my creativity through drawing, painting 3D figures, sculpting with clay and crocheting. Each of these hobbies allows me to explore different artistic techniques, from capturing images on paper to molding three-dimensional forms and crafting garments with yarn.
					</p>
				</div>
			</div>

			<div class="row gy-4 lightbox-gallery">
				<div class="col-12 col-sm-6 col-lg">
					<figure class="figure d-block" data-aos="fade-up" data-aos-delay="0">
						<div class="figure-img ratio ratio-2x3">
							<a class="lightbox-image" href="assets/images/clay.jpg" data-pswp-width="1920" data-pswp-height="1080" target="_blank">
								<Image class="object-fit-cover w-100 h-100 rounded box-shadow-custom" src={clay} alt="">
							</a>
						</div>
						<figcaption class="figure-caption text-center text-light">Clay modeling</figcaption>
					</figure>
				</div>
				<div class="col-12 col-sm-6 col-lg">
					<figure class="figure d-block" data-aos="fade-up" data-aos-delay="100">
						<div class="figure-img ratio ratio-2x3">
							<a class="lightbox-image" href="assets/images/drawing.jpg" data-pswp-width="1362" data-pswp-height="1920" target="_blank">
								<Image class="object-fit-cover w-100 h-100 rounded box-shadow-custom" src={drawing} alt="">
							</a>
						</div>
						<figcaption class="figure-caption text-center text-light">Drawing</figcaption>
					</figure>
				</div>
				<div class="col-12 col-sm-6 col-lg">
					<figure class="figure d-block" data-aos="fade-up" data-aos-delay="200">
						<div class="figure-img ratio ratio-2x3">
							<a class="lightbox-image" href="assets/images/painting.jpg" data-pswp-width="1440" data-pswp-height="1920" target="_blank">
								<Image class="object-fit-cover w-100 h-100 rounded box-shadow-custom" src={painting} alt="">
							</a>
						</div>
						<figcaption class="figure-caption text-center text-light">Figure painting</figcaption>
					</figure>
				</div>
				<div class="col-12 col-sm-6 col-lg">
					<figure class="figure d-block" data-aos="fade-up" data-aos-delay="300">
						<div class="figure-img ratio ratio-2x3">
							<a class="lightbox-image" href="assets/images/crochet.jpg" data-pswp-width="1215" data-pswp-height="1701" target="_blank">
								<Image class="object-fit-cover w-100 h-100 rounded box-shadow-custom" src={crochet} alt="">
							</a>
						</div>
						<figcaption class="figure-caption text-center text-light">Crochet</figcaption>
					</figure>
				</div>
			</div>
		</section>
	</div>
</main>
