---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const hobbies = await getCollection('hobbies');
const portfolio = await getCollection('portfolio');
---

<main class="bg-circles">
  <div class="container">
    <section class="pt-4 pt-md-5 pb-4 pb-md-5">
      <h2 class="fw-semibold text-center display-5 text-shadow-custom mb-5">
        Portfolio
      </h2>

      {portfolio.map(({ data: { title, category, description, codeUrl, appUrl, image } }) => (
        <div class="row gx-lg-5 gy-3 my-4 my-sm-5" data-aos="fade-up">
          <div class="col-md-6 col-12">
            <div class="lightbox-gallery ratio ratio-16x9">
              <a
                class="lightbox-image"
                href={image.src}
                data-pswp-width={image.width}
                data-pswp-height={image.height}
                target="_blank"
              >
                <Image
                  src={image}
                  alt=""
                  class="object-fit-cover object-position-top w-100 h-100 rounded box-shadow-custom"
                />
              </a>
            </div>
          </div>
          <div class="col-md-5 col-12">
            <h3 class="fs-1 lh-1 mb-2">{title}</h3>
            <div class="badge fw-normal border mb-4">{category}</div>
            <p>{description}</p>
            {(codeUrl || appUrl) && (
              <div class="d-flex gap-2 mt-4">
                {codeUrl && <a class="btn btn-primary" href={codeUrl}>View Code</a>}
                {appUrl && <a class="btn btn-primary" href={appUrl}>Live App</a>}
              </div>
            )}
          </div>
        </div>
      ))}
    </section>

    <!-- Hobbies -->
    <section class="pb-5">
      <h2 class="fw-semibold text-center display-5 text-shadow-custom mb-4">
        Hobbies
      </h2>

      <div class="row justify-content-center mb-3 mb-md-5">
        <div class="col-12 col-lg-8">
          <p class="text-md-center">
            I enjoy expressing my creativity through drawing, painting 3D
            figures, sculpting with clay and crocheting. Each of these hobbies
            allows me to explore different artistic techniques, from capturing
            images on paper to molding three-dimensional forms and crafting
            garments with yarn.
          </p>
        </div>
      </div>

      <div class="row gy-4 lightbox-gallery">
        {hobbies.map(({ data: { title, image } }, i) => (
          <div class="col-12 col-sm-6 col-lg">
            <figure class="figure d-block" data-aos="fade-up" data-aos-delay={i * 100}>
              <div class="figure-img ratio ratio-2x3">
                <a
                  class="lightbox-image"
                  href={image.src}
                  data-pswp-width={image.width}
                  data-pswp-height={image.height}
                  target="_blank"
                >
                  <Image
                    class="object-fit-cover w-100 h-100 rounded box-shadow-custom"
                    src={image}
                    alt=""
                  />
                </a>
              </div>
              <figcaption class="figure-caption text-center text-light">
                {title}
              </figcaption>
            </figure>
          </div>
        ))}
      </div>
    </section>
  </div>
</main>
